<header>
    <div class="container">
        <div class="headerWrapper">
            <a href="{{ path('app_home') }}" class="logoHolder">
                <img src="{{ asset('images/logo.svg') }}" alt="">
            </a>
            <div class="headerNavs">
                <div class="navTitles">
                    <a href="{{ path('app_home') }}">Home</a>
                    <a href="{{ path('app_ride_listing') }}">Parcourir</a>
                    {% if is_granted('ROLE_DRIVER') %}
                        <a href="{{ path('app_new_ride') }}">Publier un Trajet</a>
                    {% endif %}
                </div>

                {% if app.user %}
                    <div class="authSection">
                        <!-- Profile Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                {% if is_granted('ROLE_DRIVER') %}
                                    <li><a class="dropdown-item" href="{{ path('driver_bookings') }}">Mes Réservations</a></li>
                                    <li><a class="dropdown-item" href="{{ path('driver_bookings') }}">Mes Trajets</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_new_ride') }}">Ajouter un Trajet</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_CLIENT') %}
                                    <li><a class="dropdown-item" href="{{ path('user_bookings') }}">Mes Réservations</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="authSection">
                        <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">Se connecter</a>
                        <a class="btn btn-primary" href="{{ path('app_register') }}">S'inscrire</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
