<header>

	<div class="container">

		<div class="headerWrapper">
			<a href="{{ path('app_home') }}" class="logoHolder">
				<img src="{{ asset('images/logo.svg') }}" alt="">
			</a>
			<div class="headerNavs">
				<div class="navTitles">


					<a href="{{ path('app_home') }}">Home</a>
					<a href="{{ path('app_ride_listing') }}">Parcourire</a>
					<a href="{{ path('app_new_ride') }}">Publier un Trajet</a>


				</div>
				{% if app.user %}
					<div class="authSection">
						 
						{% if is_granted('ROLE_DRIVER') %}
							<a href="{{ path('app_new_ride') }}" class="btn btn-primary">Ajouter un trajet</a>
						{% endif %}
						<a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% else %}
					<div class="authSection">
						<a href="{{ path('app_login') }}" class="btn btn-outline-secondary">Se connecter</a>

						<a class="btn btn-primary" href="{{ path('app_register') }}">S'inscrire</a>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</header>
